# Experiment
experiment_name: pretraining
# Data
data: data/cnn.txt #pre-training data.txt file path
normalization:
  - lowercase
  - html
  - urls
min_pool_size: 8
# Model
transformer: bert-base-uncased
# Training
batch_size: 2048 # Training batch size
max_norm: 1.0 # Clipped gradient norm
epochs: 320 # Number of Epochs
lr: 0.0003 # learning rate
resume: False # Warm Start
save_best_model_only: True